body{
    margin: 0;
    padding: 0;
    background-color: pink;

}

#miauw{
    position: relative;
    top: 3vh;
    left: 50%;
    height: 22vh;
    transform: translateX(-50%);
}

#miauw p {
    margin: 0;
    line-height: 1;
}

#pur{
    position: relative;
    left: 50%;
    cursor: pointer;
    font-size: clamp(6px, 2vh, 2vmax);
    transform: translateX(-50%);
    width: fit-content;
}

#cat1 {
    position: relative;
    left: 50%;
    margin-top: 1vh;
    transform: translateX(-50%);
    max-width: 90vw;
    height: 20vh;
    object-fit: contain;
}

#cat1:hover{
    cursor: pointer;
    position: relative;
    left: 50%;
    margin-top: 0.5vh;
    transform: translateX(-50%);
    max-width: 92vw;
    height: 22vh;
    object-fit: contain;
}

#game{
    cursor: pointer;
    position: relative;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    height: 20em;
    max-height: 50vh;
    width: 100%;
    border: none;
    background-color: transparent;   
}

#subdlinks{
    position: absolute;
    bottom: 5vh;
    left: 50vw;
    transform: translateX(-50%);
    width: max-content;
}

.subdlink{
    text-decoration: none;
    color: black;
    font-size: 4vmin;
    margin-left: 1vw;
    margin-right: 1vw;
}

footer {
    position: absolute;
    bottom: 0vh;
    left: 50vw;
    transform: translateX(-50%);
    font-size: 2vmin;
}